html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1b1b1b;
    color: #efefef;
}

a {
    color: inherit;
    text-decoration: inherit;
}

::selection {
    background-color: #f7ca18;
    color: #1b1b1b;
}

nav {
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    bottom: 0;
    height: 100px;
    overflow: hidden;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #555;
    transition: background-color 0.5s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    position: relative;
}

nav li.active {
    background-color: #151515;
    color: #efefef;
}

nav li.active::after {
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f7ca18;
}

nav li:hover {
    color: #ececec;
}

nav li:active {
    background-color: #222;
}

section {
    background-color: #1b1b1b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #efefef;
    padding: 20px;
    box-sizing: border-box;
}

section .title {
    max-width: 60%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
}

section .title h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section .title p, section .title ul {
    font-size: 1.2rem;
    line-height: 1.5;
}

section .title ul {
    list-style-type: none;
    padding: 0;
}

section .title ul li {
    margin-bottom: 10px;
}

section .title span {
    display: inline-block;
    font-size: 7vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
}

section .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

body::after {
    content: "";
    display: block;
    height: 150px;
}

.content {
    display: none;
    opacity: 0;
}

.content.active {
    display: block;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
