a {
    color: inherit;
    text-decoration: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

::selection {
    background-color: #f7ca18;
    color: #1b1b1b;
}

nav {
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    bottom: 0;
    height: 100px;
    overflow: hidden;
    z-index: 1000; /* Asegúrate de que la barra de navegación esté en la parte superior */
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #555;
    transition: background-color 0.5s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    position: relative;
}

nav li.active {
    background-color: #151515;
    color: #efefef;
}

nav li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f7ca18;
}

nav li:hover {
    color: #ececec;
}

nav li:active {
    background-color: #222;
}

nav .slide {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    height: 2px;
    width: 0;
    transition: left 0.3s ease, width 0.3s ease;
}

section {
    background-color: #1b1b1b;
    min-height: 100vh; /* Asegúrate de que las secciones ocupen al menos la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #efefef;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1; /* Asegúrate de que el contenido esté por debajo de la barra de navegación */
}

section .title {
    max-width: 60%;
    width: 100%;
    align-self: center;
    transform: translateY(-50px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
    text-align: center;
}

section .title h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section .title p, section .title ul {
    font-size: 1.2rem;
    line-height: 1.5;
}

section .title ul {
    list-style-type: none;
    padding: 0;
}

section .title ul li {
    margin-bottom: 10px;
}

section .title span {
    display: inline-block;
    font-size: 7vw;
    color: #efefef;
    width: 100%;
    text-transform: uppercase;
    transform: translateX(-100%);
    animation: byBottom 1s ease both;
    font-weight: 600;
    letter-spacing: 0.25vw;
}

section .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0);
    }
}

.stats {
    width: 300px;
    margin-bottom: 20px; /* Space between stats and table */
}

.stats ul {
    background: #333;
    color: white;
    padding: 20px;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats li {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats span {
    font-weight: bold;
    width: 50px;
    display: inline-block;
    text-align: right;
}

table {
    width: 60%; /* Make the table narrower */
    margin-top: 20px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #222;
    color: #fff;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* To make rounded corners work for the entire table */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center; /* Center align text */
}

th {
    background-color: #444;
    color: white;
}

caption {
    font-size: larger;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    font-size: 1em;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}

/* Ensure there's space at the bottom of the page */
body::after {
    content: "";
    display: block;
    height: 150px; /* Adjust this height to add space at the bottom */
}
